<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <select class="form-control Filter">
                    <option value="default">Default</option>
                    <option value="#it">Cars</option>
                    <option value="#cars">It</option>
                </select>
            </li>
        </ul>
    </div>
</nav>
 <% for(var i=0; i<data.length;i++) {%>
<div class="card">
  <h4 class="card-header"><%=data[i].title%></h4>
  <div class="card-body">
    <p class="card-text"><%=data[i].content%></p>
    <a href="<%=data[i].link%>" class="btn btn-primary">Більше</a>
     <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer"><cite title="Source Title"><%=data[i].creator%></cite></footer>
    </blockquote>
    <i><%=data[i].id%></i>
  </div>
</div>
 <%}%>

<script>
    $( document ).ready(function() {
        $(".Filter").on("change", function(){
                if (this.value=="#it") {
                    $('div').show();
                    $('div:contains("'+this.value+'")').hide();
                }
                else if (this.value=="#cars") {
                    $('div').show();
                    $('div:contains("'+this.value+'")').hide();
                }
                else{
                    $('div').show();
                }
        });
});
</script>

</body>
<html>